$regular: 'Montserrat', sans-serif;
$primary: #F6CB48CC;
$primary-darker: #FCC362;
$accent: #d79729;
$fs-header: clamp(16px, -0.696px + 2.8986vw, 28px);

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

#es-rc #es-rc-content {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: $regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  color: #000;
  background: #fff;

  ::selection {
    background-color: $accent;
    color: #FFF;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  sup {
    font-size: 0.7em;
  }

  .es-section-title {
    font-size: $fs-header;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }

  .es-kv {
    &__logo--mobile {
      max-width: 300px;
      margin: auto;
      position: relative;
      z-index: 1;
      margin-bottom: -8%;
    }

    &__img {
      margin-bottom: 0.4em;
    }

    img {
      width: 100%;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
    }

    &__text p {
      background-color: $primary;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
      padding: 4px 8px;
      font-weight: 700;
      font-size: 24px;
    }

    &__feature {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 170px;
      padding-block: 32px;
      margin: auto;
    }

    &__feature p {
      color: $primary;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      max-width: 150px;
      margin: auto;
    }

    &__bracket--open {
      border: 1px solid $primary;
      border-right: none;
      height: 50px;
      width: 10px;
    }

    &__bracket--close {
      border: 1px solid $primary;
      border-left: none;
      height: 50px;
      width: 10px;
    }

    &__disclaimer {
      font-size: 12px;
      text-align: center;
      text-wrap: balance;
      padding-block: 8px;
    }
  }

  .es-banner {
    background-color: $primary;
    color: #FFF;
    padding: 16px 8px;
  }

  .es-features {

    &__wrapperBtm {
      margin-top: 30px;
      padding-inline: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__single {
      width: 100%;
      padding: 10px;
      display: grid;
      grid-template-rows: max-content 1fr;
      gap: 16px;
    }

    &__img {
      overflow: hidden;
      border-radius: 16px;
    }

    &__img img {
      transition: all 300ms ease-in-out;
    }

    &__img img:hover {
      scale: 1.05;
    }

    &__textWrapper {
      padding: 8px;
      background-color: $primary-darker;
      border-radius: 14px;
      display: grid;
      place-items: center;
    }

    &__text {
      @include text;
      color: #FFF;
      text-align: center;
      text-wrap: balance;
      font-weight: 500;
    }
  }

  .es-technology {
    text-align: center;
    text-wrap: balance;
    background-color: $primary-darker;
    color: #FFF;
    margin-top: 50px;

    &__textWrapper {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__single {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__title {
      font-weight: 700;
      font-size: $fs-header;
      text-transform: uppercase;
    }

    &__text--bold {
      font-weight: 700;
    }

  }

  .es-formula {
    margin: 20px auto 60px;

    &__title {
      @include text;
      margin: auto;
      padding: 20px 0;
      font-size: 35px;
      font-weight: 700;
      font-style: italic;
      color: $primary;
      text-align: center;
      width: 80%;
      text-transform: uppercase;

      & span {
        font-size: 20px;
      }
    }

    &__wrapper {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__left {
      max-width: 498px;

      & img {
        padding: 20px;
      }
    }

    &__right {
      max-width: 498px;
      background: url('../images/formula-right.png') no-repeat;
      background-size: auto;
      background-position: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 20px 20px;
    }

    &__single {
      width: 250px;
      height: 250px;
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
      text-wrap: balance;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
      transition: all 300ms ease-in-out;
    }

    &__single:hover {
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.2);
    }

    &__icon {
      width: 60px;
      height: 60px;
      padding: 12px;
      background-color: $primary;
      display: grid;
      place-items: center;
      border-radius: 50%;
    }

    &__icon img {
      border-radius: 50%;
    }

    &__text--title {
      font-weight: 700;
      margin-block: 5px;
    }
  }

  .es-cross {
    margin: 20px auto;

    &__products {
      padding-top: 30px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__product {
      width: 162px;
      margin: 0 auto;
      margin-bottom: 32px;
      display: flex;
      flex-flow: column;
      align-items: center;

      &:hover .es-cross__link::before {
        transform: scaleX(1);
      }

      &:hover .es-cross__packshot {
        transform: translateY(-8px);
      }
    }

    &__packshot {
      transition: transform 0.6s;
      margin-bottom: 24px;
    }

    &__img {
      max-height: 239px;

      &--1 {
        max-height: 180px;
      }
    }

    &__text {
      @include text;
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 24px;
      text-align: center;
      height: 50px;
    }

    &__desc {
      @include text;
      margin-bottom: 8px;
      font-size: 16px;
    }

    &__link {
      @include text;
      position: relative;
      display: inline-block;
      padding: 8px 22px;
      text-decoration: none;
      color: #fff;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      transition: all 0.3s ease-in-out;
      background: $primary;
      transition: color 0.3s ease-in-out;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: $accent;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
    }

    &__img {
      transition: all 0.3s ease-in-out;
    }
  }

  .es-footer {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;

    &__logo {
      padding-top: 40px;
      width: 200px;
    }

    &__gradientBg {
      background: rgb(18, 90, 40);
      background: linear-gradient(90deg, rgba(18, 90, 40, 1) 0%, rgba(19, 106, 48, 1) 25%, rgba(19, 116, 52, 1) 50%, rgba(18, 110, 50, 1) 75%, rgba(18, 90, 40, 1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-block: 32px;
      gap: 24px;
    }
  }

  @media (min-width: 380px) {
    .es-kv__logo--mobile {
      margin-bottom: -5%;
    }
  }

  @media (min-width: 550px) {
    .es-kv__logo--mobile {
      margin-bottom: -4%;
    }
  }

  @media (min-width: 576px) {
    .es-kv {
      position: relative;
      background-color: #EDEEEF;

      &__logo--mobile {
        display: none;
      }

      &__img {
        position: relative;
        z-index: 1;

      }

      &__text {
        position: absolute;
        top: 24%;
        width: 50%;
        z-index: 0;
      }

      &__text p {
        font-size: $fs-header;
        padding-right: 1em;
      }

      &__feature {
        position: absolute;
      }

      &__feature--1 {
        bottom: 14%;
        left: 7%;
      }

      &__disclaimer {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        font-size: 8px;
        font-weight: 500;
        max-width: 21%;
        padding: 4px 8px;
        text-wrap: unset;
      }
    }

    .es-features {

      &__single {
        width: 30%;
        font-size: 14px;
      }
    }

    .es-technology {
      position: relative;
      aspect-ratio: 1300 / 550;
      height: 100%;

      &__img {
        height: 100%;
      }

      &__img img {
        height: 100%;
        object-fit: cover;
      }

      &__textWrapper {
        position: absolute;
        transform: translate(0%, -50%);
        top: 50%;
        width: 72%;
        max-width: 440px;
        gap: 32px;
      }
    }

    .es-cross {
      &__product {
        justify-content: flex-end;
      }
    }

    .es-footer__img {
      width: 27%;
    }
  }

  @media (min-width: 710px) {
    .es-kv__feature {
      top: 50%;
      bottom: unset;
      max-width: 170px;
      z-index: 2;
    }

    .es-kv__feature--1 {
      left: 13%;
    }

    .es-kv__bracket--open,
    .es-kv__bracket--close {
      height: 80px;
      width: 20px;
    }

    .es-technology {
      aspect-ratio: 1300 / 420;
    }

    .es-technology__textWrapper {
      left: 3%;
    }

    .es-formula__left {
      width: 40%;
      display: flex;
      align-items: center;
    }

    .es-formula__right {
      width: 60%;
    }

    .es-formula__single {
      width: 45%;
      font-size: 14px;
    }
  }

  @media (min-width: 768px) {
    .es-kv__feature {
      max-width: 200px;
    }

    .es-kv__feature p {
      font-size: 17px;
      max-width: 165px;
    }

    .es-kv__bracket--open,
    .es-kv__bracket--close {
      height: 80px;
      width: 20px;
    }

    .es-features__wrapperBtn {
      padding-inline: 24px;

    }
  }

}